<div class="col-md-6 offset-md-3">
    <h3> Update Menu </h3>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label>Dish Name</label>
            <input type="text" class="form-control" id = "dishName"
            [(ngModel)] ="menu.dishName" name = "dishName">
        </div>
        <div class="form-group">
            <label>Price</label>
            <input type="number" class="form-control" id = "price"
            [(ngModel)] ="menu.price" name = "price">
        </div>
        <div class="form-group">
            <label>Image URL</label>
            <input type="text" class="form-control" id = "imageUrl"
            [(ngModel)] ="menu.imageUrl" name = "imageUrl">
        </div>
        <br>
        <button class="btn btn-success" type="submit"> Submit </button>
    </form>
    </div>
    
